.App {
display: flex;
justify-content: center;
}

.Title {
display: flex;
justify-content: center;
border: 2px solid black;
height: 40px;
color: black;
background: rgb(100, 7, 7);
font-size: 30px;
font-family: 'Baloo Thambi', cursive;
}


.main {
    background-color:rgb(79, 70, 70);
    height: 1000px;
}

.List {
    color: rgb(212, 255, 0);
    font-size: 50px;
}

