.App {
display: flex;
justify-content: center;

}

.Title {
display: flex;
justify-content: center;
border: 2px solid black;
height: 40px;
color: white;
background: rgb(0, 135, 72);
font-size: 30px;
font-family: 'Baloo Thambi', cursive;
}


